
<app-navbar></app-navbar>
<h2>{{user.username}}</h2>
<p>{{user.email}}</p>


<button
mat-raised-button
color="primary"
(click)="openUserUpdateDialog()"
style="margin-right: 10px;"
>
Update
</button>


<button
mat-raised-button
color="primary"
(click)="deleteUser()"
style="margin-right: 10px;"
>
Delete
</button>


<div style="display: flex; overflow-x: scroll;">
    <app-movie-card *ngFor="let movie of movieCardService.favMovies;" style="flex: 1 1 auto;" [movie]="movie"
        [addFavMovie]="movieCardService.addFavMovie" [removeFavMovie]="movieCardService.removeFavMovie"
        [favStatus]="movieCardService.favStatus(movie._id)"></app-movie-card>
</div>
